body {
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(to left, rgba(0,0,0,.5) 15%, rgba(100, 100, 100, 0.397)85% ); ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
